*{
  font-family: "Shadows Into Light", sans-serif;
}
#contenedor-cuerpo{
    box-shadow: 0px 4px 10px #030204; /* Sombra */
    border-radius: 15px;
    background-color: #a400cd ;
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
    border: 1px solid #a400cd ;
    
  }

  #contenedor-secundario{
    width: 80%;
    box-shadow: 0px 4px 10px #030204; /* Sombra */
    background-color: #a400cd ;
    border-radius: 15px;
    margin-left: 12%;
    margin-top: 34px;
    margin-bottom: 25px;
   /* margin-bottom: 25px;*/

  }
  
  #breadcrumb{
    width: 30%;
    height: 1px;
    margin-left: 18px;
    font-size: 18px;
    text-decoration: none;
  }
  
  #link-inicio{
    text-decoration: none;
    font-family: "Shadows Into Light", sans-serif;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #636363;
  }

  #contenedor-secundario{
    width: 76%;
    padding-left: 15px;
    font-family: "Shadows Into Light", sans-serif;
  }

  .componente{
   margin-bottom: 10px;
  }

  #etiqueta{
    letter-spacing: 1.5px;
    font-size: 23px;
    font-weight: 500;
  }

  #etiqueta:hover{
     color: white;
  }


  #myTextarea{
    width: 64%;
    height: 30px;
    letter-spacing: 1.5px;
    font-size: 19px;
    padding-left: 5px;
    pointer-events: none; 
    caret-color: transparent; 
  }
 
  .componenteBt{
       margin-bottom: 12px;
       
  }


#titulo-cajaSecundaria{
  margin-top: 20px;
  letter-spacing: 1.5px;
  font-weight: bold;
}

#titulo-cajaSecundaria:hover{
  color: white;
}


#nombreTextarea, #apellidoUnoTextarea, #apellidoDosTextarea, #edadTextarea, #correoTextarea{
  width: 60%;
  height: 34px;
  border-radius: 12px;
  padding-left: 12px;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.btn-secondary {
  background-color: #6c757d;
  color: #ffffff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
}


#btnGuardar {
  background-color: #007bff; 
  color: #000000 !important; 
  border: none; 
  border-radius: 5px; 
  width: 130px !important;
}

#btnCerrar{
  background-color: #6c757d; 
  color: #ffffff !important; 
  border: none; 
  border-radius: 5px; 
  width: 130px !important;
}

#tbnEditar{
  width: 30%;
  margin-left: 32%;
  font-size: 20px;
  margin-bottom: 15px;
}

#btnGuardar:hover{
  background-color: #033b77; 
  color: #ffffff !important; 
}

#btnCerrar:hover{
  background-color: #c9c9c9; 
  color: #000000 !important; 
}


#formularioUsuario{
  font-size: 23px;
}

.form-control{
   font-size: 20px !important;
   letter-spacing: 1.5px !important;
   margin-left: 3px !important;
}


#exampleModalLabelEditar{
  font-size: 30px !important;
  letter-spacing: 1.8px !important;
  word-spacing: -6px;
}